.app-footer {
    border-top: 1px solid #eee;
    background: #fff;
    color: #353d47;
    left: 0;
    opacity: .7;
    padding: 15px 0;
    font-size: 14px;
    text-align: right;
    width: 100%;
}

.site-footer-right {
    padding-right: 20px;
}

.app-footer i {
    color: #d9534f;
    position: relative;
    top: 2px;
}
