// Compass page styles replicated from Voyager demo
.icon-library-page {
    h2 {
        margin-top: 0;
        font-size: 18px;
        text-transform: uppercase;
        color: #475569;
    }

    .icon-library-section {
        margin-bottom: 40px;
    }

    .glyphs {
        list-style: none;
        margin: 0;
        padding: 30px 0 20px 30px;
        border: 1px solid #d8e0e5;
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        li {
            display: inline-block;
        }

        .icon {
            color: #162a36;
        }

        input {
            border: 1px solid #d8e0e5;
            border-radius: 5px;
            outline: 0;
            width: 150px;
            text-align: center;
            transition: box-shadow .2s, border-color .2s;

            &:focus,
            &:hover {
                border-color: #fbde4a;
                box-shadow: inset 0 0 3px #fbde4a;
            }
        }

        &.css-mapping {
            li {
                display: flex;
            }

            .icon {
                margin-right: 10px;
                padding: 13px;
                height: 50px;
                width: 50px;
                font-size: 24px;
                border-radius: 6px;
                background: #f8fafc;
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }

            input {
                margin-top: 5px;
                padding: 4px 8px;
                height: 35px;
                font-size: 14px;
            }
        }

        &.character-mapping {
            padding-left: 20px;
            gap: 12px 18px;

            li {
                width: 110px;
            }

            .icon {
                width: 55px;
                height: 55px;
                padding: 15px;
                font-size: 32px;
                border-radius: 6px;
                background: #f8fafc;
                margin: 0 auto 10px;
            }

            input {
                padding: 6px 0;
                font-size: 12px;
                width: 100%;
            }
        }
    }
}
