// ============================================
// LOADER - Loading spinner overlay
// ============================================

#ave-loader {
    background: rgba(249, 249, 249, 0.95);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 99;
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

#ave-loader::before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    border: 3px solid #e3e3e3;
    border-top: 3px solid var(--ave-color-primary, #22a7f0);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

// Hide the img element, we use CSS spinner instead
#ave-loader img {
    display: none;
}


