.matrix-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    padding: 1rem 0 0;
}

.panel-matrix {
    background-color: #f5f5f5;
    border-radius: 6px;
    padding: 1.5rem;
}

@media (max-width: 1800px) {
    .matrix-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1400px) {
    .matrix-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1200px) {
    .matrix-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .matrix-list {
        grid-template-columns: 1fr;
    }
}
